{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true
  },

  "plugins": [
    "standard",
    "promise",
    "flowtype"
  ],

  "rules": {
    "semi" : [2, "never"]
  }
}

